<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  </div>
  
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <button mat-raised-button color="primary" (click)="trade()">Start trading</button>
        <button mat-raised-button color="primary" (click)="refreshOrders()">Refresh orders</button>
        <button mat-raised-button color="warn" (click)="cancelOrders()">Cancel open orders</button>
      </div>
    </div>
    <div class="row">
      <div class="col mt-4">
        <mat-form-field>
          <input type="text" placeholder="Pick currency pair" matInput [formControl]="currencyPair" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div *ngIf="currencyPair.value">Balance: {{ currentBalance }}</div>
        <div *ngIf="currencyPair.value" (click)="updateVolume()">Max amount to buy: {{ maxAmountToBuy }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <app-strategy (strategyChanged)="onStrategyChanged($event)"></app-strategy>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <app-order-list orders="orders"></app-order-list>
      </div>
    </div>
  </div>